{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script type="text/javascript" src="https://d3js.org/d3.v4.js"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}"/>
    <title>Graph Explorer</title>
</head>
<body>
    <div class="header" id="header">
        <button class="openbtn">☰</button>
        <h1>Graph Visualizer</h1>
    </div>

    <div class="sidebar" id="menu">

    </div>

    <div class="main" id="main">
        <svg width="1500" height="600">

        </svg>
        <script type="text/javascript">
            {{ visualization_script|safe }}
        </script>

    </div>

</body>
</html>